body {
    background-color: #a5dbae;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 1rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
